/**
 *
 * Bricks - Create justified image layouts like Google Images and Flickr.
 * Arjan Jassal <hello@arjanjassal.com>
 * MIT License
 *
 */

.bricks {
	overflow: auto;
	margin: 0 auto;

 	&__item {
 		float: left;
 	}

 	&__img {
 		opacity: 0;
	  transform: scale(0.5);
 		vertical-align: bottom;

 		&--loaded {
 			animation: bricks-animation .25s ease-out;
			animation-fill-mode: forwards;
 		}
 	}
}

@keyframes bricks-animation {
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
