.border-box,a,article,body,code,dd,div,dl,dt,fieldset,footer,form,h1,h2,h3,h4,h5,h6,header,html,input,legend,li,main,ol,p,pre,section,table,td,textarea,th,tr,ul{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}
html {
  font-size:16px
}
body,
form,
input,
select,
textarea,
button {
margin: 0;
}

h1,.h1 {
  font-size:2em
}
h2,.h2 {
  font-size:1.5em
}
h3,.h3 {
  font-size: 1.25em
}
h4,.h4 {
  font-size: 1em
}
h5,.h5 {
  font-size: .875em
}
h6,.h6 {
  font-size: .75em
}
.medium {
  font-size:0.625em;
}
small,
.small {
  font-size:0.688em;
}
.lh125{
  line-height:1.25
}
.lh150{
  line-height:1.5
}
hr,
.hr {
-moz-box-sizing: content-box;
box-sizing: content-box;
height: 1px;
background: #eee;
border: 0;
margin-top: 1em;
margin-bottom: 1em;
}
ul,
ol {
margin: 1em 0 2em 0;
padding: 0 0 0 20px;
}
ul li,
ol li {
margin-bottom: 5px;
}
table {
border-collapse: collapse;
border-spacing: 0;
width:auto;
margin: 1em 0;
text-align: left;
border:1px solid #e9e9e9;
}
table thead td,
table tbody td,
table tfoot td,
table thead th,
table tbody th,
table tfoot th{
padding:.8em .5em;
border-bottom:1px solid #e9e9e9;
}
pre {
padding:10px;
overflow:auto;
border:1px solid #d7d7d7;
}
label,
button,
input,
select,
textarea{
color:inherit;
font:inherit;
margin:0;
}
textarea,
input{
  padding:.2em .5em;
}
select {
  text-transform:none;
}
select.flat{
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:right 10px top 7px;
    background-size: 12px 12px;
    color:#333;
    padding:4px 12px;
    width:auto;
    font-family:arial,tahoma;
    font-size:16px;
    font-weight:bold;
    text-align:center;
    border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    outline:0;
    cursor:pointer;
    -webkit-transition:0.3s ease all;
  	   -moz-transition:0.3s ease all;
  	    -ms-transition:0.3s ease all;
  	     -o-transition:0.3s ease all;
  	        transition:0.3s ease all;
}
select.flat:hover{
  opacity:.95;
  background-color:#f3f3f3;
}
button {
  overflow:visible;
  text-transform:none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
-webkit-appearance:button;
cursor:pointer;
}
::-webkit-input-placeholder {
    color: #999;
    opacity: 1 !important; /* for chrome */
}
:-moz-placeholder { /* Firefox 18- */
    color: #999;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: #999;
}
:-ms-input-placeholder {
   color: #999;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.button {
  cursor:pointer;
  border: 1px solid #d7d7d7;
  padding: .2em 1em;
  text-decoration: none;
  color: #363636;
  display: inline-block;
}
.button_big {
  padding: .5em 1.5em;
  font-size: 1.2em
}
.button.color-white:hover{color:#fff}
.button:hover,
.button:active {
  text-decoration:none;
}
.button:hover{
  opacity:0.75
}

/* color https://github.com/mrmrs/colors */
/* Backgrounds */
.bg-navy { background-color: #001F3F; }
.bg-blue { background-color: #0074D9; }
.bg-aqua { background-color: #7FDBFF; }
.bg-teal { background-color: #39CCCC; }
.bg-olive { background-color: #3D9970; }
.bg-green { background-color: #2ECC40; }
.bg-lime { background-color: #01FF70; }
.bg-yellow { background-color: #FFDC00; }
.bg-orange { background-color: #FF851B; }
.bg-red { background-color: #FF4136; }
.bg-fuchsia { background-color: #F012BE; }
.bg-purple { background-color: #B10DC9; }
.bg-maroon { background-color: #85144B; }
.bg-white { background-color: #FFFFFF; }
.bg-gray { background-color: #AAAAAA; }
.bg-silver { background-color: #DDDDDD; }
.bg-black { background-color: #111111; }
/* Colors */
.navy { color: #001F3F; }
.blue { color: #0074D9; }
.aqua { color: #7FDBFF; }
.teal { color: #39CCCC; }
.olive { color: #3D9970; }
.green { color: #2ECC40; }
.lime { color: #01FF70; }
.yellow { color: #FFDC00; }
.orange { color: #FF851B; }
.red { color: #FF4136; }
.fuchsia { color: #F012BE; }
.purple { color: #B10DC9; }
.maroon { color: #85144B; }
.white { color: #FFFFFF; }
.silver { color: #DDDDDD; }
.gray { color: #AAAAAA; }
.black { color: #111111; }
/* Border colors

   Use with another border utility that sets border-width and style
   i.e .border { border-width: 1px); border-style: solid); }
*/
.border--navy { border-color: #001F3F; }
.border--blue { border-color: #0074D9; }
.border--aqua { border-color: #7FDBFF; }
.border--teal { border-color: #39CCCC; }
.border--olive { border-color: #3D9970; }
.border--green { border-color: #2ECC40; }
.border--lime { border-color: #01FF70; }
.border--yellow { border-color: #FFDC00; }
.border--orange { border-color: #FF851B; }
.border--red { border-color: #FF4136; }
.border--fuchsia { border-color: #F012BE; }
.border--purple { border-color: #B10DC9; }
.border--maroon { border-color: #85144B; }
.border--white { border-color: #FFFFFF; }
.border--gray { border-color: #AAAAAA; }
.border--silver { border-color: #DDDDDD; }
.border--black { border-color: #111111; }

/* animation */
.all-ani{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.clr-ani{
  -webkit-transition: color .15s ease-in;
          transition: color .15s ease-in;
}
.bg-ani{
  -webkit-transition: background-color .15s ease-in;
          transition: background-color .15s ease-in;
}
/* ultility */
a[href^="tel"]{
  color:inherit;
  text-decoration:none;
}
.full-width {
  width:100%;
}
.center-e{
  margin-left:auto;
  margin-right:auto;
}
.round{
  border-radius:3px
}
.circle{
  border-radius:50%
}
.border{
  border:1px solid rgba(0,0,0,.125);
}
.gutter{
  padding-top:5px;
  padding-bottom:5px;
}
.rowgutter{
  padding-top: 15px;
  padding-bottom:15px;
}
.zonegutter{
  padding-top:30px;
  padding-bottom:30px;
}

/* grid */
.clear:before,
.clear:after {
  content:" ";
  display:table;
}
.row:after,
.clearfix,
.clear:after {
  clear:both;
}
.row:before,
.row:after {
  content:"";
  display:table;
}
.row{
  position:relative;
  margin-left:-15px;
  margin-right:-15px;
}
.container{
  padding-left:15px;
  padding-right:15px;
  margin-left:auto;
  margin-right:auto;
}
.container-full {
  padding-left:0;
  padding-right:0;
  margin-left:auto;
  margin-right:auto;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.hide,
.hide-mobile {
  display: none;
}
.show-mobile {
  display: block;
}
.show-mobile-inline-block {
  display: inline-block;
}
.show-mobile-inline {
  display: inline;
}
@media only screen and (min-width: 740px) {
  .col-tablet-1,
  .col-tablet-2,
  .col-tablet-3,
  .col-tablet-4,
  .col-tablet-5,
  .col-tablet-6,
  .col-tablet-7,
  .col-tablet-8,
  .col-tablet-9,
  .col-tablet-10,
  .col-tablet-11,
  .col-tablet-12 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
  }
  .col-tablet-1 {
    width: 8.33333333%;
  }
  .col-tablet-2 {
    width: 16.66666667%;
  }
  .col-tablet-3 {
    width: 25%;
  }
  .col-tablet-4 {
    width: 33.33333333%;
  }
  .col-tablet-5 {
    width: 41.66666667%;
  }
  .col-tablet-6 {
    width: 50%;
  }
  .col-tablet-7 {
    width: 58.33333333%;
  }
  .col-tablet-8 {
    width: 66.66666667%;
  }
  .col-tablet-9 {
    width: 75%;
  }
  .col-tablet-10 {
    width: 83.33333333%;
  }
  .col-tablet-11 {
    width: 91.66666667%;
  }
  .col-tablet-12 {
    width: 100%;
  }
  .hide-tablet {
    display: none;
  }
  .show-tablet {
    display: block;
  }
  .show-tablet-inline-block {
    display: inline-block;
  }
  .show-tablet-inline {
    display: inline;
  }
  .tablet-no-padding {
    padding: 0;
  }
  .container,
  .container-full {
    width: 720px;
  }
  .tablet-container {
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width:1024px) {
  .col-desktop-1,
  .col-desktop-2,
  .col-desktop-3,
  .col-desktop-4,
  .col-desktop-5,
  .col-desktop-6,
  .col-desktop-7,
  .col-desktop-8,
  .col-desktop-9,
  .col-desktop-10,
  .col-desktop-11,
  .col-desktop-12 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
  }
  .col-desktop-1 {
    width: 8.33333333%;
  }
  .col-desktop-2 {
    width: 16.66666667%;
  }
  .col-desktop-3 {
    width: 25%;
  }
  .col-desktop-4 {
    width: 33.33333333%;
  }
  .col-desktop-5 {
    width: 41.66666667%;
  }
  .col-desktop-6 {
    width: 50%;
  }
  .col-desktop-7 {
    width: 58.33333333%;
  }
  .col-desktop-8 {
    width: 66.66666667%;
  }
  .col-desktop-9 {
    width: 75%;
  }
  .col-desktop-10 {
    width: 83.33333333%;
  }
  .col-desktop-11 {
    width: 91.66666667%;
  }
  .col-desktop-12 {
    width: 100%;
  }
  .hide-desktop {
    display: none;
  }
  .show-desktop {
    display: block;
  }
  .show-desktop-inline-block {
    display: inline-block;
  }
  .show-desktop-inline {
    display: inline;
  }
  .desktop-no-padding {
    padding: 0;
  }
  .container{width:1002px}
}
@media only screen and (min-width:1200px) {
  .container{width:1170px}
}

.n-mt{
  margin-top: 0
}
.n-ml{
  margin-left: 0
}
.n-mr{
  margin-right:0
}
.n-mb{
  margin-bottom:0
}
.n--m {
  margin: 0;
}
.n-pt{
  padding-top: 0
}
.n-pl{
  padding-left: 0
}
.n-pr{
  padding-right:0
}
.n-pb{
  padding-bottom:0
}
.n--p{
  padding: 0;
}
.t-d-none a:hover,
.t-d-none:hover{
  text-decoration:none
}
.t-d-underline a:hover,
.t-d-underline:hover{
  text-decoration:underline;
}
.no-float {
  float: none;
}
.strong,
.font-bold {
  font-weight:700;
}
.font-normal {
  font-weight:inherit;
  font-style: normal;
}
.em,
.font-italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed{
	position:fixed
}
.block {
  display: block;
}
.table {
  display: table;
  height: 100%;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.left {
  float: left;
}
.right {
  float: right;
}
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-unstyled li {
  margin: 0;
  padding: 0;
}
.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-inline li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.img-left {
  float: left;
  margin-right:15px;
}
.img-right {
  float: right;
  margin-left:15px;
}
input:focus,
input:active{
  outline: 0
}
img{
  max-width:100%;
  height:auto;
  border:0
}
.color-white{color: white;}
.color-black{color: #252525;}
.color-grey{color: #898989;}
.color-green{color: #57c730;}
.color-blue{color: #004d72;}
.color-red{color: #ba0000 /*#ff0303;*/}
.color-orange {color: #ef6928;}
.bg-white{background-color: white;}
.bg-grey{background-color: #f3f7fe;}
.bg-dark{background-color: #777}
.bg-green{background-color: #5bb848;}
.bg-blue{background-color: #004d72;}
.border {border: 1px solid #e1e1e1}
.n--b {border:0}
.line{display: inline-block; height:1px; width: 100%; background: #ccc}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:0.875em; /* 14px */
  color: #545454;
  line-height:1.375;
}
a {
  color: #545454;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration:none;
  color:#5bb848
}
a img{
  border: none;
}

.breadcrumbs {
  font-size:12px;
  background:#f5f5f5;
  padding:10px 0;
  border-bottom:1px solid #ddd;
}
.breadcrumbs a:hover {
  text-decoration:underline
}
.success, .warning, .attention, .help {
  padding: 10px;
  margin-bottom: 15px;
  color: #555;
}
.success {
  background: rgb(28, 184, 65);
}
.warning {
  background: rgb(202, 60, 60);
}
.attention {
  background: rgb(223, 117, 20);
}
.required {
  color: #FF0000;
  font-weight: bold;
}
.error {
  display: block;
  color: #FF0000;
  padding: 5px;
}
.help {
  background: rgb(66, 184, 221);
}

.pagination {
  padding-top:8px;
  display:inline-block;
  width:100%;
  margin-bottom:10px;
}
.pagination a:hover {
  background:#5bb848;
  color:#fff
}
.pagination a {
  display:inline-block;
  padding:4px 10px;
  text-decoration:none;
  color:#A3A3A3;
  border:1px solid #eee;
}
.pagination b {
  display:inline-block;
  border:1px solid #269BC6;
  padding:4px 10px;
  font-weight:normal;
  text-decoration:none;
  color:#269BC6;
  background:#fff;
}
.pagination .results {
  float: right;
  padding-top: 3px;
}
.pagination ul{
  float:left;
  margin:0;
  padding:0
}
.pagination li{
  list-style:none;
  padding:1px;
  margin:0;
}
.pagination li{
  display:inline-block
}

/* end common */
.sidebar {
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}
.fa-caret-right {
  padding-left: 5px;
  color: #c7c7c7;
  margin-right: 10px;
}
.othernews{
  margin-bottom:20px;
  margin-top: 10px;
}
a.sidebar:hover {
	color:#fff;
}

.call:hover {
    color: #07ad07;
    border: 1px solid #07ad07;
}
.call {
    border: 1px solid #ff0303;
    padding: 5px 15px;
}

/* call phone */
@keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}
.mypage-alo-phone {
    position: fixed;
    left: 0;
    bottom: 0;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 200000 !important;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.mypage-alo-ph-circle {
    width: 90px;
    height: 90px;
    top: 12px;
    left: 12px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30,30,30,.4);
    opacity: .1;
    border-color: #0089b9;
    opacity: .5;
}
.mypage-alo-ph-circle-fill {
    width: 60px;
    height: 60px;
    top: 28px;
    left: 28px;
    position: absolute;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: rgba(0,175,242,.5);
    opacity: .75 !important;
}
.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.mypage-alo-ph-img-circle {
  width: 30px;
  height: 30px;
  top: 43px;
  left: 43px;
  position: absolute;
  background: rgba(30,30,30,.1) url(dienthoai.png) no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background-color: #0089b9;
  background-size: 70%;
}
/* end call phone */
.iconr{
  display:inline-block;
  width:24px;
  height:24px;
  margin-right:6px;
  line-height:23px !important;
  text-align:center;
  border-radius:50%;
  border:1px solid #cecece
}

.box-heading {
  line-height:22px;
  padding:7px 15px;
  font-size:12px;
  border-left:5px solid #08163a
}
.box-heading .icon-menu {
  margin-right: 10px;
}
.category{
  background: #f7f8fa;
  margin-bottom:15px
}
.category h2 i{
  margin-right:10px;
}
.category h2 a{
  display:inline-block;
  padding-top:0;
  padding-bottom:0
}
.category h2 a:hover {
  color:#fff
}
.iplay {
  color:#9c9c9c;
  margin-right:10px;
}
.category ul li {
    min-height: 40px;
    background: #f7f8fa;
    padding-left:20px;
    border-bottom: 1px solid #ebebeb;
}
.category a {
  padding:10px 0;
}
.category a:hover {
  color:#5bb848;
  text-decoration:none;
}
.category ul li ul li {
    background: #f3f4f1;
    line-height: 35px;
    height: 35px;
}
.category ul li:hover > ul {
  display: block;
  position: absolute;
  top: 0;
  right: -195px;
  z-index: 99;
  width: 195px;
}
.box {
  margin-bottom:15px
}
.title_under {
  margin:0 0 15px;
  padding-bottom:5px;
  border-bottom: #c7c7c7 thin solid
}
.title_under span {
	border-bottom: #5bb848 2px solid;
  padding-bottom:5px
}
.title_red {
  border-bottom:3px solid #990000;
  color:#990000;
  padding-bottom:5px;
}
/*end new*/
/* header */
.button-search{
  cursor: pointer;
  width:36px;
  height:35px;
  line-height:35px;
  right:3px;
  top:3px;
  font-size: 20px;
}
#search{
  background: white;
  padding: 3px;
  border: 1px solid #c3c3c3;
  width: 300px;
  float: right;
}
#search input{
  height:35px;
  width:100%;
  background:#f1f1f1;
  border:0;
}

#searchkeywordinput{
  background:#fff;
  padding:5px 10px;
  width:320px;
  border:1px solid #eee;
}
/* header */
/* #header {
  background-image: url(bg-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 45px;
} */
/* top menu */
.menu{
  background: radial-gradient(#0e6eb9,#104889);
  border-bottom: 1px solid #fff;
}
#menu-topmenu {
}
#menu-topmenu > ul > li {
  position: relative;
  float:left
}
#menu-topmenu li ul {
	text-align: left;
  position: absolute;
  width: 217px;
  background: #5bb848;
  display: none;
  z-index: 9999;
  top: 100%;
  padding-left: 0;
  margin: 0;
  left: 0;
}
#menu-topmenu li ul li{
  width: 100%;
}
#menu-topmenu li ul li ul{
  margin-left:186px;
  margin-top:0
}
#menu-topmenu ul li:hover ul{
  display:block;
}
#menu-topmenu > ul > li > a{
  color:#fff;
  padding:10px;
  text-transform: uppercase;
  display: inline-block;
  font-size:16px
}
#menu-topmenu > ul > li:last-child > a{padding-right: 0px;}
#menu-topmenu ul li ul a{
  font-size:13px;
  line-height:20px;
  padding:7px 15px;
  color:#fff;
  display:block;
  z-index:6;
  position:relative;
}
#menu-topmenu ul li a:hover {
  color:#2780b5;
}
#menu-topmenu > ul > li.hassub:hover > a:before {
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  margin-left: -10px;
  bottom: -5px;
  left: 50%;
	border-bottom: 5px solid #3074c7;
	opacity: 1;
  bottom: 0;
  transition: all 0.5s ease;
  transition-delay: 0.1s;
}
.hassub > a {
  position: relative
}
/* header service */
.header-service h5 {
  color:#333
}
.header-service div:first-child > .content{
  background: url(icon-doitra.png) left center no-repeat;
}
.header-service .content {
  padding-left: 60px;
  line-height: 18px;
  border-right: #c7c7c7 thin solid;
  margin: 20px 0;
}
.header-service div:nth-child(2) > .content {
  background: url(icon-vanchuyen.png) left center no-repeat;
}
.header-service div:nth-child(3) > .content {
  background: url(icon-thanhtoan.png) left center no-repeat;
}
.header-service div:nth-child(4) > .content {
  background: url(icon-tuvan247.png) left center no-repeat;
  border-right: none;
}

/* mobile menu */
#menubutton:before{
	margin-bottom:6px
}
#menubutton {
  padding:8px;
  width:32px;
  height:32px;
  right:0;
  top:0;
  z-index:9999991;
}
  #menubutton.menuopen:before{
    transform: rotate(-45deg);
  	margin-top: 6px;
  	margin-left: 6px;
  }
  #menubutton.menuopen:after{transform: rotate(45deg);
  	margin-top: -7px;
  	margin-left: 6px;
  }
#mobile-menu{
  display:none;
  z-index:999999;
  overflow:auto;
  }
  #mobile-menu.fixedmenu{
    left:0;
    top:0;
    bottom:0;
    right:0;
    padding:10px;
    display:block;
    position:fixed;
  }
#menubutton:after,
#menubutton:before {
	height:1px;
	width:24px;
	background:#000;
	content:"";
	display:block;
	transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	z-index:999
}
li.accordionItem.open > a > span{
	border-bottom: 2px solid;
  padding-bottom: 2px;
}
.accordionItem{
  border-top:1px solid #ddd;
  padding-top:10px
}
.menuItemHeading.hc {
  position: absolute;
  top: 11px;
  right: 10px;
  height: 30px;
  width: 17px;
  background: url(arrow-mn-r.png) no-repeat center center;
}
.open .menuItemHeading.hc {
  background: url(arrow-mn-d.png) no-repeat center center;
}
#mobile-menu ul,
#mobile-menu li {
  list-style:none;
  padding:5px 0;
  margin:0
}
#mobile-menu li li {
  padding:3px 0
}
#mobile-menu li ul {
  padding-top:10px;
}
#mobile-menu ul ul a {
  font-weight:normal !important;
  padding:1px 10px;color:#666;
  font-size:15px;
}
#mobile-menu > ul > li > a {
  padding:2px 10px;
  color:#000067 !important;
  font-size:18px;
  text-align:left;
  display:block;
}
.cls .menuItemContent,
.close .accordionItemContent {
	display:none;
}
.open .menuItemContent,
.open .accordionItemContent{
	display:block;
}
#search-mobile {
  margin:10px 10px 0 10px;
  border:1px solid #eee;
  padding:0 10px;
  border-radius:1em;
}
#search-mobile i{
  width:30px;
  height:30px;
  line-height:29px;
  right:5px;
  cursor:pointer;
}
#search-mobile input[name='search']{
	width: 100%;
	height: 30px;
	border: 0;
	padding-left: 0;
}
.support-item {
  padding-bottom:5px;
  margin-bottom:5px;
  border-bottom:1px solid #e0e7f0
}
.support-item a {
  color:#5bb848
}
              a.facebookchat {
                color:#fff !important;
                padding:3px 10px;
                font-size:11px;
                background:#0084ff
              }
              .faceicon{
                  width:16px;
                  height:16px;
                  background:url(face-chat.png) 0 -18px no-repeat;
                  display:inline-block;
                  margin-right:5px;
                  margin-top:3px
              }
.avatar{margin-right:10px;border:2px solid #ccc}
/*cart*/
table.cart thead {
  background:#f6f6f6
}
table.cart tbody td {
  border-bottom:1px solid #ddd
}
/*featured*/
.list-product {
  overflow: hidden;
}
article .post-inner .entry-thumb > a img {
  width: 100%;
  height: auto;
}
article .post-inner .entry-content .entry-title {
    margin: 0;
    padding: 0;
    background: none;
    overflow: hidden;
    max-height: inherit;
    line-height: initial;
}
article .post-inner .entry-content .entry-title > a {
    color: #F3612D;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: block;
    max-height: 40px;
    overflow: hidden;

}
article .post-inner .entry-content .entry-description {
  color: #333333;
  overflow: hidden;
  margin-bottom: 15px;
}
article .post-inner .entry-content > .view-more {
    color: #F3612D;
    font-size: 14px;
    font-weight: 600;
}
.post-inner{
	min-height:320px;
}

article {
  float: left;
  overflow: hidden;
}
article .post-inner .entry-thumb{
    display: table;
    width: 100%;
    table-layout: fixed;
    /* height: 250px; */
    overflow: hidden;
    padding: 4px;
    border: 1px solid #cccccc;
}
.entry-thumb {
   position: relative;
    overflow: hidden;
}
.entry-thumb  span{
  display: none;
}
article .post-inner .entry-thumb > a {
    text-align: center;
    display: table-cell;
    position: relative;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    line-height: 0;
    transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -web-transition: all 400ms ease-in-out;
}
article .post-inner .entry-thumb > a img{
  width: 100%;
  /* height: 240px; */
  object-fit: cover;
}
article .post-inner .entry-content {
  padding:10px 0 0;
  margin: 0;
}
article .post-inner .entry-content .entry-title{
    margin: 0 0 3px 0;
    min-width: -9px;
    /* max-height: 31px; */
    overflow: hidden;
}
article .post-inner .entry-content .entry-title a{
color: #333;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    /* 		 */
    /* height: 50px; */
    max-height: inherit;
    overflow: hidden;
}
article .post-inner .entry-content .entry-description {
    height: 44px;
    line-height: 22px;
    margin: 0 0 5px 0;
    font-size: 14px;
}
article .post-inner .entry-content .view-more{
  font-weight: 500;
}
.box-views{
  overflow: hidden;
  clear: both;
    display: none;
}
.box-views .view-more{
  float: left;
  display: inline-block;
  background: #0079bf;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  width: 120px;
  line-height: 40px;
}
.box-views .lienhe{
  float: right;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  background: #ea0000;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 120px;
  line-height: 40px;
}
.custom {
    overflow: hidden;
    clear: both;
    padding: 0 0 10px 0;
}
.custom .price-valibar{
    color: #ea0000;
    /* font-family: "Graphik-Medium"; */
    font-size: 17px;
    line-height: 31px;
    margin: 0 0 3px 0;

}
.custom .date-time{
    color: #333;
    font-size: 15px;
    display: block;
    left: 24px;
}



/*************************/


article .post-inner .entry-thumb a.img .scale-caption {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;

}

article .post-inner .entry-thumb a.img .scale-caption h3.caption-title{
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    transition-delay: 500ms;
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    max-height: 50px;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}
article .post-inner .entry-thumb a.img .scale-caption h3.caption-title,

article .post-inner .entry-thumb a.img .scale-caption p.caption-description {
    position: relative;
    top: 32px;
    left: -187px;
    text-align: left;
    width: 85%;
   line-height: 22px;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}
article .post-inner .entry-thumb .scale-caption p.caption-description a{
  display: none;
}
article .post-inner .entry-thumb a.img .caption{
  background-color: rgba(0,0,0,0.8);
    color: #fff;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    left: 0;
}
article:hover .entry-thumb a.img .scale-caption h3.caption-title{
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  -ms-transition-delay: 100ms;  
  transition-delay: 100ms;
}
article:hover .entry-thumb a.img .scale-caption p.caption-description{
  -webkit-transition-delay: 180ms;
  -moz-transition-delay: 180ms;
  -o-transition-delay: 180ms;
  -ms-transition-delay: 180ms;  
  transition-delay: 180ms;
}
article .entry-thumb a.img .scale-caption p.caption-description{
  overflow: hidden;
}
article .entry-thumb a.img .scale-caption p.caption-description p{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 22px;
  max-height: 132px;
  overflow: hidden;
}
/** Scale Caption :hover Behaviour **/
article:hover .entry-thumb a.img .scale-caption h3.caption-title,
 article:hover .entry-thumb a.img .scale-caption p.caption-description {
  -moz-transform: translateX(200px);
  -o-transform: translateX(200px);
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
}

article:hover .entry-thumb a.img .scale-caption  {
  opacity: 1;
}

article .entry-thumb a.img img {
/*  width: 100%;
  height: auto;*/
  -webkit-transition:all 1s ease-in-out;
  -moz-transition:all 1s ease-in-out;
  -o-transition:all 1s ease-in-out;
  transition:all 1s ease-in-out;
}
article:hover img {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.heading {
    background: #126db5;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 40px;
    overflow: hidden;
    margin-top: 0;
    padding: 0 10px;
    padding: 0;
    background: none;
}

.heading a{
    display: inline-block;
    background: url(heading-bga.png)repeat-x;
    min-width: 335px;
    padding: 0 10px;
    max-width: 80%;
    position: relative;
    color: #fff;
    font-size: 19px;
    text-align: center;
}
.heading a:after{
    content: "";
    position: absolute;
    top: 0;
    right: -921px;
    width: 924px;
    height: 40px;
    background: url(heading-bg.png)no-repeat;
}
/* share social */
.shareme a {
  padding:8px 15px;
  font-size:12px;
  display:inline-block;
  color:#fff;
  margin-right:7px;
}
.shareme a:hover{
    opacity:.5
  }
          a.face-icon {background-color: #5d82d1}
          a.twitter-icon {background-color:#40bff5}
          a.plus-icon {background-color:#eb5e4c}
          .shareme.small a {
            padding:3px 12px;
            margin-right:0
          }
/* news */
.media-list li {
  padding:10px 0;
  border-top:1px dotted #eee;
}
.media-list li h3 {
  margin:0
}
.media-list .media {
	margin-bottom:20px
}
.thumb .medium {
  padding:10px;
  color:#888;
  line-height:1.3355
}
.media img {
  border: 1px solid #d7d7d7;
  display: block
}
.readmore {
  margin-top: 10px;
  display: inline-block;
  padding:3px 15px
}
.readmore:hover {
  color:#fff
}
/* search page */
.searchpage h3 {
    margin-bottom: 5px;
    margin-top: 15px
}
.searchpage .media-list .media {
  margin-bottom:0px
}
/* contact page */
.contactpage textarea,
.contactpage input {
  margin-top: 4px;
  margin-bottom: 11px;
  border-radius: 3px;
  min-height: 35px;
  padding: 3px 10px;
  width: 100%;
  border: 1px solid #ddd;
}
.contactpage h2,
.contactleft h2 {
	color: #003d72;
}
.contactpage input[type="submit"] {
	width: auto;
	margin-top: 13px;
	background: #003d72;
	color: white;
	font-weight: 400;
	border-radius: 4px;
}
input[name="captcha"] {
	width: 48%;
	float:left;
	margin-right:5px;
}

/* gallery */
.thumb {
  border:1px solid #eee;
  padding:3px;
  opacity:.8;
  display:block;
}
.thumb:hover {
  opacity:1
}
.albumcover{
  opacity:1;
  height:100%;
  margin-bottom:30px
}
.albumcover:hover {
  opacity:.8
}
.albumcover i{
  display: none;
}
.albumcover:hover i {
  top:50%;
  width:24px;
  height:24px;
  font-size:24px;
  line-height:24px;
  text-align:center;
  left:50%;
  margin-top:-16px;
  margin-left:-16px;
  display:block;
}
.albumcover span{
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  display:none;
  transition: background-color 1000ms linear;
  background-color:rgba(0, 0, 0, 0.15);
}
.albumcover:hover span {
  display: block;
  background-color:rgba(0, 0, 0, 0.45);
}
/* footer */
#footer {
  border-top:1px solid #e0e7f0
}
#copy {
  background-color: #08163a ;
  padding:10px 0
}
#footer .list-inline,
#footer .list-inline li,
#footer .list-inline a {
  display:block
}
#footer .list-inline a{
  padding:5px 0
}
/* module */
/* slideshow */
.description-slide {
	bottom: 10px;
	right: 30px;
}
.description-slide h3,
.description-slide h6 {
	background: rgba(0,0,0,0.8);
	padding: 10px 20px;
}
.description-slide h6 {
  margin-top:10px;
  max-width: 450px;
}

/* featured */
.featured {
  padding-bottom: 30px;
  border: 1px solid #e5e5e5;
  border-bottom: 0;
}
.featured img {
  margin-bottom: 20px;
}
.product-item{min-height: 200px; margin-bottom: 15px;}
/*product detail */
figure.zoom {
  background-position: 50% 50%;
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
}
figure.zoom img:hover {
  opacity: 0;
}
figure.zoom img {
  transition: opacity .5s;
  display: block;
  width: 100%;
}
.swiper-button-disabled{opacity:0}
.header-desc {
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-top:2px solid #5bb848;
  padding:7px 25px;
  margin-bottom: -1px;
}
.description {
  padding:0 25px;
}
select#quantity{
  max-width:100%;
  width:90px
}
/* extra */
.bottom30{
  padding-bottom: 30px;
}
.border-right{
  border-right: 1px solid #e5e5e5;
}
.rt-info{
    /* overflow: hidden;
    clear: both;
    background: url(images/support.png)no-repeat;
    background-size: cover;
    margin-bottom: 30px; */
    overflow: hidden;
    clear: both;
    background: url(htttl.png)no-repeat;
    background-size: cover;
    height: 161px;
    overflow: hidden;
    width: 100%;
}
.rt-info .item{
    /* float: left; */
    /* width: 25%;
    border-right: 1px solid #fff;
    padding: 15px 40px; */
    font-size: 19px;
    color: #ffffff;
    line-height: 40px;
}
.rt-info .item:nth-child(1){
    border-bottom: 1px solid #48b2e3;
}
.rt-info .item:nth-child(2){
    border-bottom: 1px solid #48b2e3;
}
.rt-info .item a{
    color: #ffffff;
}
.rt-info .item h5{
    color: #ffffff;
   /*  background: #ff9000;
    border-radius: 5px;
    line-height: 25px;
    padding: 0 10px;
     */
}
.rt-info .item .right div{
    /* background: url(images/head.png)top repeat-x;
    padding-top: 15px; */
}
.rt-info .item div a{
    color: #fff;
    font-size: 20px;
    line-height: 25px;
}
.rt-info .item div a i{
    width: 21px;
    height: 21px;
    /* border-radius: 100%;
    border: 1px solid #fff; */
    color: #fff;
    font-size: 13px;
    margin-right: 6px;
    text-align: center;
    line-height: 21px;
}
.rt-info .support-online{
    padding-bottom: 0;
}
.rt-info .support-online div{
    /* background: url(images/icon-sp.png) left center no-repeat #ff9000; */
    min-height: 92px;
    padding: 14px 16px 0 99px;
}
.rt-info .support-online div h4{
    color: #fff;
    font-size: 17px;
    line-height: 26px;
    margin: 0;
}
.rt-info .left-support-online{
    height: 100%;
    width: 193px;
    float: left;
    clear: left;
    overflow: hidden;
    padding: 15px;
}
.rt-info .left-support-online h4{
    font-size: 15px;
    line-height: 26px;
    color: #bac0d2;
    text-transform: uppercase;
    margin: 0;
    text-align: -webkit-center;
}
.rt-info .left-support-online  p{
    font-size: 15px;
    line-height: 26px;
    color: #bac0d2;
    margin: 0;
    text-align: -webkit-center;
}
.rt-info .left-support-online .icon a{
    width: 31px;
    height: 31px;
    float: left;
    border-radius: 8px;
    margin-right: 13px;
}
.rt-info .left-support-online .icon a:nth-child(1){
    background: url(icona.png);
}
.rt-info .left-support-online .icon a:nth-child(2){
    background: url(iconb.png);
}
.rt-info .left-support-online .icon a:nth-child(3){
    background: url(iconc.png);
}
.rt-info .left-support-online .icon a:nth-child(4){
    background: url(icond.png);
    float: right;
    margin-right: 0 !important;
}
.rt-info .right-item{
    float: left;
    width: 396px;
    height: 100%;
    clear: right;
    overflow: hidden;
    padding: 20px;
}
.booking-form{
  right: 0;
  bottom: -30px;
  background: linear-gradient(#0e6eba, #104788);
  border: 5px solid #fff;
  z-index: 2;
  border: 5px solid rgba(255, 255, 255, 0.63);
  z-index: 2;
  border-radius: 4px;
  padding: 25px 20px 15px;
  color: #0e6cb6;
}
.booking-form h4 {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin: 10px 0 20px;
}
.booking-form select{
  width: 100%;
  margin-top: 5px;
}
.booking-form input[type=text], .booking-form select{
  border: none;
  border-left: 1px solid #ccc;
  padding: 6px;
  height: 45px;
  width: 100%;
}
.booking-form input[type=submit]{ 
    background: linear-gradient(#0e6cb6, #10498b);
    font-size: 15px;
    display: block;
    margin: 0 auto;
    border: 2px solid #fff;
    margin-top: 20px; 
    font-size: 26px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
}
a.cal { 
    background: linear-gradient(#0e6cb6, #10498b);
    font-size: 15px;
    display: block;
    margin: 0 auto;
    border: 1px solid #fff;
    font-size: 18px; 
    padding: 5px 10px;
    color: #fff;
}
.booking-form label{
  color: #fff;
}
.box_row {
    background-color: #fff;
    margin: 15px 0;
}
.box_row > div{
  line-height: 45px;
}
.booking-form input[type=radio]{
	box-sizing: border-box;
    border: 1px solid #6a839c;
    box-shadow: 0 0 0 .5px #7088a0;
    background: 0 0;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    -webkit-appearance: none;
    text-align: center;
    cursor: pointer;
    display: inline-block
}
.booking-form input[type=radio]:checked:before{
	background: 0 0;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
    margin: 2px 0 0 1.5px;
    speak: none;
    color: #fff;
    font-family: 'simicon';
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
    content: "\e080";
    font-size: 13px;
    font-weight: 900;
    display: none;
    -webkit-text-stroke: .2px;
    text-indent: 0;
    line-height: initial;
    height: 12px;
    width: 16px;
    float: left;
    text-align: left 
}
.booking-form input[type=radio]:checked{
	border-color: #44aa7d;
    background: #4cb787;
    box-shadow: 0 0 0 .5px #49b585
}

@media only screen and (max-width: 739px) {
	.logo img{max-height:45px}
	#header > .left{float:none}
	.newsname{height:45px;overflow:hidden;}
  .readmore{display:none}
  .booking-form{
	  position: relative;
	  bottom: 15px;
  }
  .booking-form input[type=text], .booking-form select{
	  border-left: 0;
	  border-top: 1px solid #ccc;
	  padding: 6px 0;
  }
}
