{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>Thêm lịch bằng excel</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
		<div class="col-md-12 bgc-white p-20">
			<form action="{{ action }}" method="post" enctype="multipart/form-data" name="form_import" id="form_import"> 
				<div class="form-group">
				    <label for="exampleFormControlFile1">Tải file lên có định dạng *.xls hoặc *.xlsx (<a href="/image/profile.png">Tệp mẫu</a>)</label>
				    <input type="file" class="form-control-file" name="import"><br />
				    <button type="submit" class="btn cur-p btn-success mt-10">Cập nhật</button>
			  	</div>
			</form>
		</div>
    </div>
  </div>
</div>
{{ footer }} 