{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-booking" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-booking" class="form-horizontal">
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="tab-content">
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-date_execute">Ngày chạy</label>
                  <div class="col-sm-10">
                    <input type="text" name="date_execute" value="{{ date_execute }}" placeholder="Ngày chạy" id="input-date_execute" class="form-control datetime" data-date-format="DD-MM-YYYY HH:mm" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-manufacturer"><span data-toggle="tooltip" title="{{ help_manufacturer }}">Văn phòng</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="manufacturer" value="{{ manufacturer }}" placeholder="Văn phòng" id="input-manufacturer" class="form-control" />
                    <input type="hidden" name="manufacturer_id" value="{{ manufacturer_id }}" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-schedule">Khách hàng</label>
                  <div class="col-sm-10">
					<input type="text" name="customer" value="{{ customer }}" placeholder="Khách đi" id="input-customer" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-schedule">Số điện thoại</label>
                  <div class="col-sm-10">
					<input type="text" name="telephone" value="{{ telephone }}" placeholder="Số điện thoại" id="input-telephone" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-schedule">Nơi đón</label>
                  <div class="col-sm-10">
					<input type="text" name="origin" value="{{ origin }}" placeholder="Nơi đón" id="input-origin" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-schedule">Nơi đến</label>
                  <div class="col-sm-10">
          <input type="text" name="destination" value="{{ destination }}" placeholder="Nơi đến" id="input-destination" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-type_car">Loại xe</label>
                  <div class="col-sm-10">
					         <select name="type_car" class="form-control">
                     <option value="*"></option>
                     <option value="4">4 chỗ</option>
                     <option value="7">7 chỗ</option>
                     <option value="16">16 chỗ</option>
                     <option value="24"> 24 chỗ</option>
                   </select>
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-money">Số tiền</label>
                  <div class="col-sm-10">
                    <input type="text" name="money" value="{{ money }}" placeholder="Số tiền" id="input-money" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="">Trạng thái thu</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"><input type="radio" onclick="$('#for_discount').hide()" name="state_receive" value="0" {{ state_receive==0 ? 'checked' : '' }}>&nbsp;&nbsp;Không thu</label>
                    <label class="radio-inline"><input type="radio" onclick="$('#for_discount').show()" name="state_receive" value="1" {{ state_receive==1 ? 'checked' : '' }}>&nbsp;&nbsp;Có thu</label>
                  </div>
                </div>
                <div class="form-group" id="for_discount">
                  <label class="col-sm-2 control-label">Tiền cắt cho văn phòng</label>
                  <div class="col-sm-10">
                    <input class="form-control col-sm-10" name="discount" placeholder="Tiền cắt cho văn phòng" value="{{ discount }}"/>
                  </div>
                </div>
                <div class="form-group hide">
                  <label class="col-sm-2 control-label">Phụ phí - vé</label>
                  <div class="col-sm-10">
                    <input class="form-control col-sm-10" name="fee_ticket" placeholder="Tiền vé" value="{{ fee_ticket }}"/>
                  </div>
                </div>
                <div class="form-group hide">
                  <label class="col-sm-2 control-label">Phụ phí - xăng dầu</label>
                  <div class="col-sm-10">
                    <input class="form-control col-sm-10" name="fee_fuel" placeholder="Tiền xăng dầu" value="{{ fee_fuel }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-note">Ghi chú</label>
                  <div class="col-sm-10">
                    <textarea name="note" rows="5" placeholder="Ghi chú" id="input-note" class="form-control">{{ note }}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-user"><span data-toggle="tooltip" title="{{ help_manufacturer }}">Tài xế</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="username" value="{{ username }}" placeholder="Tài xế" id="input-user_id" class="form-control" />
                    <input type="hidden" name="user_id" value="{{ user_id }}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<script type="text/javascript"><!--
$(document).ready(function() {
  <!-- alert($("input[name='state_receive']").val()); -->
  {% if state_receive==1 %}
    $('#for_discount').show();
  {% else %}
    $('#for_discount').hide();
  {% endif %}
});
// Manufacturer
$('input[name=\'manufacturer\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/manufacturer/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				json.unshift({
					manufacturer_id: 0,
					name: '{{ text_none }}'
				});

				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['manufacturer_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'manufacturer\']').val(item['label']);
		$('input[name=\'manufacturer_id\']').val(item['value']);
	}
});
// User
$('input[name=\'username\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=user/user/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				json.unshift({
					user_id: 0,
					name: '{{ text_none }}'
				});

				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['user_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'username\']').val(item['label']);
		$('input[name=\'user_id\']').val(item['value']);
	}
});
//--></script> 
  <script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
//--></script> 
<script type="text/javascript"><!--
  $('#button-setting').on('click', function() {
    $.ajax({
      url: 'index.php?route=catalog/assign&user_token={{ user_token }}',
      dataType: 'html',
      beforeSend: function() {
        $('#button-setting').button('loading');
      },
      complete: function() {
        $('#button-setting').button('reset');
      },
      success: function(html) {
        $('#modal-developer').remove();
        
        $('body').prepend('<div id="modal-developer" class="modal">' + html + '</div>');
        
        $('#modal-developer').modal('show');
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });	
  });	
  //--></script> 
</div>
{{ footer }} 
