{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-booking" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> Ghi chú lịch đặt xe</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-booking" class="form-horizontal">
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="tab-content">
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-date_execute">Ngày chạy</label>
                  <div class="col-sm-10">
                    <input type="text" name="date_execute" value="{{ date_execute }}" placeholder="Ngày chạy" id="input-date_execute" class="form-control datetime" data-date-format="DD-MM-YYYY HH:mm" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-manufacturer"><span data-toggle="tooltip" title="{{ help_manufacturer }}">Văn phòng</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="manufacturer" value="{{ manufacturer }}" placeholder="Văn phòng" id="input-manufacturer" class="form-control" />
                    <input type="hidden" name="manufacturer_id" value="{{ manufacturer_id }}" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-type_car">Loại xe</label>
                  <div class="col-sm-10">
					         <select name="type_car" class="form-control">
                     <option value="*"></option>
                     <option value="4">4 chỗ</option>
                     <option value="7">7 chỗ</option>
                     <option value="16">16 chỗ</option>
                     <option value="24"> 24 chỗ</option>
                   </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-note">Nội dung</label>
                  <div class="col-sm-10">
                    <textarea name="note" rows="5" placeholder="Ghi chú" id="input-note" class="form-control">{{ note }}</textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
// Manufacturer
$('input[name=\'manufacturer\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/manufacturer/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				json.unshift({
					manufacturer_id: 0,
					name: '{{ text_none }}'
				});

				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['manufacturer_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'manufacturer\']').val(item['label']);
		$('input[name=\'manufacturer_id\']').val(item['value']);
	}
});
//--></script> 
<script type="text/javascript"><!--
  $('.date').datetimepicker({
    language: '{{ datepicker }}',
    pickTime: false
  });

  $('.time').datetimepicker({
    language: '{{ datepicker }}',
    pickDate: false
  });

  $('.datetime').datetimepicker({
    language: '{{ datepicker }}',
    pickDate: true,
    pickTime: true
  });
//--></script>
{{ footer }} 
