{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-booking').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
        <a href="{{ import }}" data-toggle="tooltip" title="Import Excel" class="btn btn-primary"><i class="fa fa-upload"></i></a>
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" form="form-booking" formaction="{{ delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-booking').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      <div id="filter-booking" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label" for="input-username">Tài xế</label>
              <input type="text" name="filter_username" value="{{ filter_username }}" placeholder="Tài xế" id="input-name" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-status">Trạng thái</label>
              <select name="filter_status" id="input-status" class="form-control">
                <option value=""></option>
                <option value="done" {{ filter_status=='done' ? 'selected' : '' }}>{{ text_booking_done }}</option>
                <option value="sent" {{ filter_status=='sent' ? 'selected' : '' }}>{{ text_booking_sent }}</option>
                <option value="draft" {{ filter_status=='draft' ? 'selected' : '' }}>{{ text_booking_draft }}</option>
                <option value="pending" {{ filter_status=='pending' ? 'selected' : '' }}>{{ text_booking_pending }}</option>
              </select>
            </div>
            <div class="form-group text-right">
              <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-comment"></i> Chú thích</h3>
          </div>
          <style>
            .p-3 {padding: 1rem!important;}
            .mb-2, .my-2 {margin-bottom: .5rem!important;}
          </style>
          <div class="panel-body">
              <div class="p-3 mb-2 bg-success text-white">{{ text_booking_done }}</div>
              <div class="p-3 mb-2 bg-danger text-white">{{ text_booking_draft }}</div>
              <div class="p-3 mb-2 bg-warning text-white">{{ text_booking_sent }}</div>
              <div class="p-3 mb-2 bg-info text-white">{{ text_booking_pending }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-md-pull-3 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
          </div>
          <div class="panel-body">
            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-booking">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                      <td class="text-left">Giờ chạy</td>
                      <td class="text-left">Lịch trình</td>
                      <td class="text-left">Loại xe</td>
                      <td class="text-left">Văn phòng</td>
                      <td class="text-right">Thu</td>
                      <td class="text-right">Cắt</td>
                      <td class="text-right">Tài xế</td>
                      <td class="text-left">Hành động</td>
                    </tr>
                  </thead>
                  <tbody>
                  
                  {% if bookings %}
                  {% for booking in bookings %}
                  <tr style="font-size:14px" onclick="window.location.href='{{ booking.edit }}';" class="{{ booking.state=='sent' ? 'bg-warning': (booking.state=='done' ? 'bg-success' : (booking.state=='pending' ? 'bg-info' : 'bg-danger')) }}">
                    <td class="text-center">{% if (booking.state != 'done' and booking.state != 'sent') %} {% if booking.booking_id in selected %}
                      <input type="checkbox" name="selected[]" value="{{ booking.booking_id }}" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="selected[]" value="{{ booking.booking_id }}" />
                      {% endif %} {% endif %}</td>
                    <td class="text-left"><b>{{ booking.date_execute }}</b></td>
                    <td class="text-left"><b>{{ booking.schedule }}</b></td>
                    <td class="text-left"><b>{{ booking.type_car }}</b></td>
                    <td class="text-left">{{ booking.manufacturer }}</td>
                    <td class="text-right">{{ booking.money }}</td>
                    <td class="text-right">{{ booking.state_receive }}</td>
                    <td class="text-right">{{ booking.user }}</td>
                    <td class="text-right">
                      {% if booking.state=='draft'%}
                      <a id="confirm-{{booking.booking_id}}" data-toggle="tooltip" title="Nhận cuốc" class="btn btn-primary confirm"><i class="fa fa-share-square"></i></a>
                      {% endif %}
                      {% if booking.state=='pending' and level=='hight'%}
                      <a id="approve-{{booking.booking_id}}" data-toggle="tooltip" title="Xác nhận cuốc" class="btn btn-primary confirm"><i class="fa fa-check"></i></a>
                      {% endif %}
                      {% if (booking.state=='pending' or booking.state=='sent') and user_id==booking.user_id %}
                      <a id="cancel-{{booking.booking_id}}" data-toggle="tooltip" title="Hủy cuốc" class="btn btn-primary cancel"><i class="fa fa-trash"></i></a>
                      {% endif %}
                      {% if level=='hight' or (user_id==booking.user_id and booking.state=='sent')  %}<a href="{{ booking.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>{% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center" colspan="8">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                    </tbody>
                  
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript"><!--
$('.confirm').click(function() {
  var object_id=$(this).attr('id');
  $.ajax({
    url: 'index.php?route=catalog/booking/updatestates&user_token={{ user_token }}',
    type: 'get',
    data: {object_id:object_id},
    dataType: 'html',
    success: function(html) {
      if(html!=''){
        $('#'+object_id).html(html);
      }
      location.reload();
    }
  });
});
$('.approve').click(function() {
  var approve=$(this).attr('id');
  $.ajax({
    url: 'index.php?route=catalog/booking/updatestates&user_token={{ user_token }}',
    type: 'get',
    data: {object_id:approve},
    dataType: 'html',
    success: function(html) {
      if(html!=''){
        $('#'+approve).html(html);
      }
      location.reload();
    }
  });
});
$('.cancel').click(function() {
  if(confirm('Bạn có chắc chắn hủy cuốc không?')){
    var object_cancel=$(this).attr('id');
    $.ajax({
      url: 'index.php?route=catalog/booking/updatestates&user_token={{ user_token }}',
      type: 'get',
      data: {object_id:object_cancel},
      dataType: 'html',
      success: function(html) {
        if(html!=''){
          $('#'+object_cancel).html(html);
        }
        location.reload();
      }
    });
  }else{
    return false;
  }
  
});
//--></script>
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = '';

	var filter_username = $('input[name=\'filter_username\']').val();

	if (filter_username) {
		url += '&filter_username=' + encodeURIComponent(filter_username);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status !== '') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	location = 'index.php?route=catalog/booking&user_token={{ user_token }}' + url;
});
//--></script> 
  <script type="text/javascript"><!--
// IE and Edge fix!
$('button[form=\'form-booking\']').on('click', function(e) {
	$('#form-booking').attr('action', $(this).attr('formaction'));
});
  
$('input[name=\'filter_username\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=user/user/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['user_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_username\']').val(item['label']);
	}
});
//--></script></div>
{{ footer }} 