{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-booking').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" form="form-booking" formaction="{{ delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-booking').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
		<div class="col-md-12 bgc-white p-20">
			<h4><b>Lịch trình</b></h4>
			<hr />
			<table>
				<tr>
					<td>Nơi đón:<br /><b> {{ detail.origin ? detail.origin : '-' }}</b></td>
				</tr>
				<tr>
					<td>Nơi đến:<br /><b> {{ detail.destination ? detail.destination : '-' }}</b></td>
				</tr>
				<tr>
					<td>Khoảng cách:<br /><b> {{ detail.distance ? detail.distance : '-' }}</b></td>
				</tr>
				<tr>
					<td>Thời gian đón:<br /><b> {{ detail.date_execute ? detail.date_execute : '-' }}</b></td>
				</tr>
				<tr>
					<td>Ghi chú:<br /><b> {{ detail.note ? detail.note : '-' }}</b></td>
				</tr>
				<tr>
					<td>Trạng thái:<br /><b> Đang chờ booking</b></td>
				</tr>
			</table>
			<h4 class="mt-10"><b>Khách hàng</b></h4>
			<hr />
			<table>
				<tr>
					<td>Tên khách đặt:<br /><b> {{ detail.manufacturer ? detail.manufacturer : '-' }}</b></td>
				</tr>
				<tr>
					<td>Tên khách đi:<br /><b> {{ detail.customer ? detail.customer : '-' }}</b></td>
				</tr>
				<tr>
					<td>Số điện thoại:<br /><b> {{ detail.telephone ? detail.telephone : '-' }}</b></td>
				</tr>
			</table>
			<h4 class="mt-10"><b>Giá và thanh toán</b></h4>
			<hr />
			<table>
				<tr>
					<td>Giá:<br /><b> {{ detail.money|number_format(0, ',', '.') }} vnđ</b></td>
				</tr>
				<tr>
					<td>Cắt cho VP:<br /><b> {{ detail.discount|number_format(0, ',', '.') }} vnđ</b></td>
				</tr>
				<tr>
					<td>Tổng tiền:<br /><b> {{ (detail.money-detail.discount)|number_format(0, ',', '.') }} vnđ</b></td>
				</tr>
				<tr>
					<td>Hình thức thanh toán:<br /><b> {{ detail.state_receive==1 ? 'Tiền mặt': 'Văn phòng thanh toán' }}</b></td>
				</tr>
			</table>
			{% if detail.user_id == '0' %}
			<button id="booking{{ detail.booking_id }}" onclick="booking('{{ detail.booking_id }}', '{{ user_token }}')" type="button" class="btn cur-p btn-warning mt-10">Nhận chuyến</button>
			{% elseif(detail.state != 'done') %}
			<button id="draft{{ detail.booking_id }}" onclick="changeStatus('{{ detail.booking_id }}', 'draft', '{{ user_token }}')" type="button" class="btn cur-p btn-danger mt-10">Huỷ chuyến</button> &nbsp;
			<button id="done{{ detail.booking_id }}" onclick="changeStatus('{{ detail.booking_id }}', 'done', '{{ user_token }}')" type="button" class="btn cur-p btn-success mt-10">Hoàn thành</button>
			{% else %}
			<button type="button" class="btn cur-p btn-success mt-10">Đã hoàn thành</button>
			{% endif %}
		</div>
    </div>
  </div>
</div>
{{ footer }} 