{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right hide">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-booking').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" form="form-booking" formaction="{{ delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-booking').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
		<div class="col-md-12">
		{% for booking in bookings %}
			<div class="bgc-white bd bdrs-3 p-20 bd-radius mt-10 clearfix">
				<a href="{{ booking.view }}">
				<h4>{{ booking.origin }}</h4>
        {% if(booking.origin or booking.destination) %}
        <div class="bg-grey bd p-10 bd-radius space origin relative">{{ booking.origin }}</div>
				<div class="bg-grey bd p-10 bd-radius mt-10 space destination relative">{{ booking.destination }}</div>
        {% else %}
        <div class="bg-grey bd p-10 bd-radius space origin relative">{{ booking.note }}</div>
        {% endif %}
				<div class="bg-grey bd p-10 bd-radius mt-10 space time relative">{{ booking.date_execute }} | Loại xe {{ booking.type_car }} chỗ</div>
				</a>
				<div class="pull-left mt-10">
					<i class="fa fa-money"></i> &nbsp;<b>{{ booking.money }} vnđ</b>
				</div>
				<div class="pull-right mt-10">
          {% if(booking.state == 'done') %}
          <button id="booking{{ booking.booking_id }}" type="button" class="btn cur-p btn-success">Đã hoàn thành</button>
          {% else %}
					<button id="booking{{ booking.booking_id }}" type="button" onclick="booking({{ booking.booking_id }}, '{{ user_token }}')" class="btn cur-p btn-warning">{{ booking.user_id == 0 ? 'Nhận chuyến': 'Chuyến đã được nhận' }}</button>
          {% endif %}
				</div>
			</div>
		{% endfor %}
		</div>
    </div>
  </div>
</div>
{{ footer }} 