@charset "UTF-8";

@font-face {
  font-family: "gelalpa";
  src:url("fonts/gelalpa.eot");
  src:url("fonts/gelalpa.eot?#iefix") format("embedded-opentype"),
    url("fonts/gelalpa.woff") format("woff"),
    url("fonts/gelalpa.ttf") format("truetype"),
    url("fonts/gelalpa.svg#gelalpa") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gelalpa" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gelalpa" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icons:before {
  content: "\62";
}
.icon-icons-1:before {
  content: "\63";
}
.icon-icons-2:before {
  content: "\64";
}
.icon-icons-3:before {
  content: "\65";
}
.icon-icons-4:before {
  content: "\66";
}
.icon-icons-5:before {
  content: "\67";
}
.icon-icons-6:before {
  content: "\68";
}
.icon-icons-7:before {
  content: "\69";
}
.icon-icons-8:before {
  content: "\6a";
}
.icon-icons-9:before {
  content: "\6b";
}
.icon-icons-10:before {
  content: "\6c";
}
.icon-icons-11:before {
  content: "\6d";
}
.icon-icons-12:before {
  content: "\6e";
}
.icon-icons-13:before {
  content: "\6f";
}
.icon-icons-14:before {
  content: "\70";
}
.icon-icons-15:before {
  content: "\71";
}
.icon-icons-16:before {
  content: "\72";
}
.icon-icons-17:before {
  content: "\73";
}
.icon-icons-18:before {
  content: "\74";
}
.icon-icons-20:before {
  content: "\76";
}
.icon-icons-21:before {
  content: "\77";
}
.icon-icons-22:before {
  content: "\78";
}
.icon-icons-23:before {
  content: "\79";
}
.icon-icons-24:before {
  content: "\7a";
}
.icon-icons-25:before {
  content: "\41";
}
.icon-icons-26:before {
  content: "\42";
}
.icon-icons-27:before {
  content: "\43";
}
.icon-icons-28:before {
  content: "\44";
}
.icon-icons-29:before {
  content: "\45";
}
.icon-icons-30:before {
  content: "\46";
}
.icon-icons-31:before {
  content: "\47";
}
.icon-icons-32:before {
  content: "\48";
}
.icon-icons-33:before {
  content: "\49";
}
.icon-icons-34:before {
  content: "\4a";
}
.icon-icons-35:before {
  content: "\4b";
}
.icon-icons-36:before {
  content: "\4c";
}
.icon-icons-37:before {
  content: "\4d";
}
.icon-icons-38:before {
  content: "\4e";
}
.icon-icons-39:before {
  content: "\4f";
}
.icon-icons-40:before {
  content: "\50";
}
.icon-icons-41:before {
  content: "\51";
}
.icon-icons-42:before {
  content: "\52";
}
.icon-icons-43:before {
  content: "\53";
}
.icon-icons-44:before {
  content: "\54";
}
.icon-icons-45:before {
  content: "\55";
}
.icon-icons-46:before {
  content: "\56";
}
.icon-icons-47:before {
  content: "\57";
}
.icon-icons-48:before {
  content: "\58";
}
.icon-icons-49:before {
  content: "\59";
}
.icon-icons-50:before {
  content: "\5a";
}
.icon-icons-51:before {
  content: "\30";
}
.icon-icons-52:before {
  content: "\31";
}
.icon-icons-53:before {
  content: "\32";
}
.icon-icons-54:before {
  content: "\33";
}
.icon-icons-55:before {
  content: "\34";
}
.icon-icons-56:before {
  content: "\35";
}
.icon-icons-57:before {
  content: "\36";
}
.icon-icons-58:before {
  content: "\37";
}
.icon-icons-59:before {
  content: "\38";
}
.icon-icons-60:before {
  content: "\39";
}
.icon-icons-61:before {
  content: "\21";
}
.icon-telephone:before {
  content: "\22";
}
.icon-phone:before {
  content: "\23";
}
.icon-phone-square:before {
  content: "\24";
}
.icon-bulb:before {
  content: "\25";
}
.icon-youtube:before {
  content: "\61";
}
.icon-youtube-play:before {
  content: "\75";
}
.icon-youtube-square:before {
  content: "\26";
}
