<div class="col-xs-12 col-sm-8">
	<h2 class="blue h3 n-mt title_module_heading n-mt"><?php echo $heading_title; ?></h2>
	<div class="hide n-pt"><?php echo $description; ?></div>
	<iframe width="560" height="315" style="height:315px !important" src="<?php echo $videos[0]['src'];?>" frameborder="0" class="iframe_youtube"></iframe>
</div>