
.icon-flight:before { content: '\e800'; } /* '' */
.icon-road:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-shuffle:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */