<?php echo $header; ?>
<div class="content-wrapper">
  <section class="content-header">
		<h1><?php echo $heading_title; ?><small>(<?php echo $text_configuration; ?>)</small></h1>
		<ol class="breadcrumb">
			<?php $k=0; foreach ($breadcrumbs as $breadcrumb) { ?>
				<li class="<?php echo $k==count($breadcrumbs)-1 ? 'active':'';?>"><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $k==0 ? '<i class="fa fa-dashboard"></i> ':'';?><?php echo $breadcrumb['text']; ?></a></li>
			<?php $k++; } ?>
		</ol>
	</section>
  <?php if ($error_warning) { ?>
  <div class="warning"><?php echo $error_warning; ?></div>
  <?php } ?>
  <div class="content">
    <div class="box box-default">
      <div class="box-header">
        <div class="pull-right">
        	  <a onclick="$('#act_mode').val('1');$('#form').submit();" class="btn btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i> <?php echo $button_save_and_close; ?></a>
        	  <a onclick="location = '<?php echo $cancel; ?>';" class="btn btn-default"> <i class="fa fa-reply"></i> <?php echo $button_cancel; ?></a>
  		      <a onclick="$('#act_mode').val('0');$('#form').submit();" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> <?php echo $button_save; ?></a>
        </div>
      </div>
      <div class="box-body">
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
        <table class="form">
    		<tbody>
    			<tr>
    				<td><strong>Mobile menu</strong></td>
    				<td class="left"><select name="menu_module_mobile">
                      <?php foreach ($menus as $menu) { ?>
                      <option value="<?php echo $menu['id']; ?>" <?php echo $menu['id']==$menu_module_mobile ? 'selected':'';?>><?php echo $menu['title']; ?></option>
                      <?php } ?>
                    </select></td>
    			</tr>
    		</tbody>
    		</table>
    		<table id="module" class="table table-bordered table-hover dataTable">
          <thead>
            <tr>
            <td class="left"><?php echo $entry_menus; ?></td>
              <td class="left"><?php echo $entry_layout; ?></td>
              <td class="left"><?php echo $entry_position; ?></td>
              <td class="left"><?php echo $entry_status; ?></td>
              <td class="text-right"><?php echo $entry_sort_order; ?></td>
              <td></td>
            </tr>
          </thead>
          <?php $module_row = 0; ?>
          <?php foreach ($modules as $module) { ?>
          <tbody id="module-row<?php echo $module_row; ?>">
            <tr>
            	<td class="left"><select name="menu_module[<?php echo $module_row; ?>][menu_id]">
                  <?php foreach ($menus as $menu) { ?>
                  <?php if ($menu['id'] == $module['menu_id']) { ?>
                  <option value="<?php echo $menu['id']; ?>" selected="selected"><?php echo $menu['title']; ?></option>
                  <?php } else { ?>
                  <option value="<?php echo $menu['id']; ?>"><?php echo $menu['title']; ?></option>
                  <?php } ?>
                  <?php } ?>
                </select></td>
              <td class="left"><select name="menu_module[<?php echo $module_row; ?>][layout_id]">
                  <?php foreach ($layouts as $layout) { ?>
                  <?php if ($layout['layout_id'] == $module['layout_id']) { ?>
                  <option value="<?php echo $layout['layout_id']; ?>" selected="selected"><?php echo $layout['name']; ?></option>
                  <?php } else { ?>
                  <option value="<?php echo $layout['layout_id']; ?>"><?php echo $layout['name']; ?></option>
                  <?php } ?>
                  <?php } ?>
                </select></td>
                  <td class="left"><select name="menu_module[<?php echo $module_row; ?>][position]">
				  <?php foreach($positions as $position){ ?>
					<option value="<?php echo $position['value'];?>" <?php echo $position['value']==$module['position'] ? 'selected':'';?>><?php echo $position['text'];?></option>
				  <?php } ?>
                </select></td>
              <td class="left"><select name="menu_module[<?php echo $module_row; ?>][status]">
                  <?php if ($module['status']) { ?>
                  <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                  <option value="0"><?php echo $text_disabled; ?></option>
                  <?php } else { ?>
                  <option value="1"><?php echo $text_enabled; ?></option>
                  <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                  <?php } ?>
                </select></td>
              <td class="text-right"><input type="text" name="menu_module[<?php echo $module_row; ?>][sort_order]" value="<?php echo $module['sort_order']; ?>" size="3" /></td>
              <td class="text-right"><a title="<?php echo $button_remove; ?>" onclick="$('#module-row<?php echo $module_row; ?>').remove();" class="btn btn-sm btn-default"><i class="fa fa-minus"></i></a></td>
            </tr>
          </tbody>
          <?php $module_row++; ?>
          <?php } ?>
          <tfoot>
            <tr>
              <td colspan="5"></td>
              <td class="left"><a onclick="addModule();" class="btn btn-primary"><i class="fa fa-plus"></i> <?php echo $button_add_module; ?></a></td>
            </tr>
          </tfoot>
        </table>
         <input type="hidden" name="act_mode" value="0" id="act_mode"/>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
var module_row = <?php echo $module_row; ?>;

function addModule() {
	html  = '<tbody id="module-row' + module_row + '">';
	html += '  <tr>';
	html += '    <td class="left"><select name="menu_module[' + module_row + '][menu_id]">';
	<?php foreach ($menus as $menu) { ?>
	html += '      <option value="<?php echo $menu['id']; ?>"><?php echo addslashes($menu['title']); ?></option>';
	<?php } ?>
	html += '    </select></td>';
	html += '    <td class="left"><select name="menu_module[' + module_row + '][layout_id]">';
	<?php foreach ($layouts as $layout) { ?>
	html += '      <option value="<?php echo $layout['layout_id']; ?>"><?php echo addslashes($layout['name']); ?></option>';
	<?php } ?>
	html += '    </select></td>';
	html += '    <td class="left"><select name="menu_module[' + module_row + '][position]">';
	<?php foreach($positions as $position){ ?>
	html += '      <option value="<?php echo $position['value'];?>"><?php echo $position['text'];?></option>';
	<?php } ?>
	html += '    </select></td>';
	html += '    <td class="left"><select name="menu_module[' + module_row + '][status]">';
    html += '      <option value="1" selected="selected"><?php echo $text_enabled; ?></option>';
    html += '      <option value="0"><?php echo $text_disabled; ?></option>';
    html += '    </select></td>';
	html += '    <td class="text-right"><input type="text" name="menu_module[' + module_row + '][sort_order]" value="" size="3" /></td>';
	html += '    <td class="left"><a onclick="$(\'#module-row' + module_row + '\').remove();" class="btn btn-sm btn-default" title="<?php echo $button_remove; ?>"><i class="fa fa-minus"></i></a></td>';
	html += '  </tr>';
	html += '</tbody>';

	$('#module tfoot').before(html);

	module_row++;
}
//--></script>
<?php echo $footer; ?>
