{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
		<a href="#myModal" data-toggle="modal" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-coin">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left">Tài khoản</td>
                  <td class="text-left">Coin thay đổi</td>
                  <td class="text-left">Ghi chú</td>
                  <td class="text-right">Thời gian thay đổi</td>
                </tr>
              </thead>
              <tbody>
                {% if coins %}
                {% for coin in coins %}
                <tr>
                  <td class="text-left">{{ coin.username }}</td>
                  <td class="text-left">{{ coin.coin }}</td>
                  <td class="text-left">{{ coin.note }}</td>
                  <td class="text-right">{{ coin.date_added }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog form-sale">
        <div class="modal-content"> 
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Điều chỉnh coin</h4> </div>
            <div class="modal-body">
              <div class="tab-content">
                <form method="POST" action="" name="form-model" id="form-model">
                  <div class="form-group required">
                    <label class="control-label text-left">Tài khoản</label>
                    <input class="form-control" type="text" name="username" /> 
                    <input type="hidden" name="user_id" value="" />
                  </div>
                  <div class="form-group required">
                    <label class="control-label text-left">Giá trị coin</label>
                    <input class="form-control" type="text" name="coin" /> </div>
                  <div class="form-group">
                    <label class="control-label text-left">Ghi chú</label>
                    <textarea name="note" class="form-control"></textarea>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
              <button type="button" id="submit" onclick="submit_form()" data-dismiss="modal" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>
<script>
function submit_form(){
  $.ajax({
    url: 'index.php?route=user/coin/change&user_token={{ user_token }}',
    type: 'post',
    dataType: 'json',
    data : $("#form-model").serialize(),
    complete: function() {
      $('#submit').button('reset');
    },
    success: function(json) {
      console.log(json);
      var href = 'index.php?route=user/coin&user_token={{ user_token }}';
      window.location = href;
    }
  });
}
// User
$('input[name=\'username\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=user/user/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        json.unshift({
          user_id: 0,
          name: '{{ text_none }}'
        });

        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['user_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'username\']').val(item['label']);
    $('input[name=\'user_id\']').val(item['value']);
  }
});
</script>
{{ footer }} 