<?php if ($position=='top_menu'){ ?>
	<?php echo $menu_ul;?>
<?php } else if ($position =='footer_menu') { ?>
	<div class="col-6 col-tablet-2 zonegutter">
	<h3 class="uppercase h4 n-mt green"><?php echo $menuname; ?></h3>
		<?php echo $menu_ul;?>
	</div>
<?php } else { ?>
		<?php //echo $menu_ul;?>
<?php }  ?>
